
body{
    background:#101010;
}
.logo1{
    width: 60px;
}


.nav-bar-lbdl{
    background: #292929 !important;
}


.icons-inicio{
    height: 37vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}


.icons-inicio > div > h2 > i {
    font-size: 96px !important;
    color: #cb5905 !important;
}


footer{
    background:#cb5905 !important;
}
